@page "/bookings/"
@inject HttpClient _client
@inject IJSRuntime js
@attribute [Authorize]

<h3 class="card-title">Bookings Info</h3>
<br />

<a href="/bookings/create" class="btn btn-secondary">
	<span class="oi oi-plus"></span>
	Create New Booking
</a>
<br />
<br />
@if (Bookings == null){
	<div class="alert alert-info">Loading Bookings...</div>
}
else
{
	<table class="table table-responsive">
		<thead>
			<tr>
				<th>Booking Id</th>
				<th>Customer Name</th>
				<th>Location</th>
				<th>Email</th>
				<th>Start Date</th>
				<th>Duration in days</th>
				<th>Actions</th>
			</tr>
		</thead>

	<tbody>
		@foreach (var booking in Bookings)
		{
			<tr>
				<td>@booking.Id</td>
				<td>@booking.Customer.CusFirstName @booking.Customer.CusLastName</td>
				<td>@booking.BookingLocation</td>
				<td>@booking.BookingEmail</td>
				<td>@booking.DateCreated.Date.ToString("dd MMMM yyyy")</td>
				<td>@((booking.DateOut - booking.DateIn).TotalDays.ToString())</td>
				<td>
					<a href="/Bookings/view/@booking.Id" class="btn btn-primary">
						<span class= "oi oi-book"></span>	
					</a>
					<a href= "/Bookings/view/@booking.Id" class= "btn btn-warning">
						<span class= "oi oi-pencil"> </span>	
					</a>
					<button class = "btn btn-danger" @onclick="@(()=>Delete(booking.Id))">
						<span class= "oi oi-delete"> </span>
					</button>
				</td>
			</tr>
		}
	</tbody>
	</table>
}

@code {
	private List<Booking>? Bookings;

	protected async override Task OnInitializedAsync()
	{
		Bookings = await _client.GetFromJsonAsync<List<Booking>>($"{Endpoints.BookingsEndpoint}");
	}

	async Task Delete(int bookingsId)
	{
		if (Bookings != null)
		{
			var bookings = Bookings.First(q => q.Id == bookingsId);
			var confirm = await js.InvokeAsync<bool>("confirm", $"Do you want to delete {bookings.Id}?");
			if (confirm)
			{
				await _client.DeleteAsync($"{Endpoints.BookingsEndpoint}/{bookingsId}");
				await OnInitializedAsync();
			}
		}
	}
	
}